body {
    font-family: Arial, sans-serif;
    background-color: #141414; /* Cor de fundo semelhante à Netflix */
    color: white; /* Texto branco para contraste */
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e50914; /* Vermelho da Netflix */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}

.movie {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.movie:hover {
    transform: scale(1.05);
}

.movie-image {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s;
}

.movie-image:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#movie-details {
    background-color: #333; /* Fundo escuro para detalhes */
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}
.novidades {
    margin: 20px 0;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-item {
    min-width: 200px; /* Ajuste conforme necessário */
    transition: transform 0.5s ease;
}

.prev, .next {
    background-color: #e50914; /* Vermelho da Netflix */
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}